/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 38px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .nav-item .active{
  background-color: #009688
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.expense-btn, .edit-btn, .green-btn{
  background-color: #00897B;
  border-color: #00897B;
}
.expense-btn{
  margin-bottom: 20px;  
}
.expense-btn:hover, .edit-btn:hover, .green-btn:hover{
  background-color: #009688;
  border-color: #009688;
  
}
.red-btn{
  background-color: #C62828;
  border-color: #C62828;
}
.red-btn:hover{
  background-color: #D32F2F;
  border-color: #D32F2F;
}

.error{
  color: #F44336;
}
.op-btn{
  line-height: 0.5;
}

/* RADIO BUTTON CUSTOM STYLE */
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #00897B;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #00897B;
}