/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 38px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .nav-item .active{
  background-color: #009688
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.expense-btn, .edit-btn, .green-btn{
  background-color: #00897B;
  border-color: #00897B;
}
.expense-btn{
  margin-bottom: 20px;  
}
.expense-btn:hover, .edit-btn:hover, .green-btn:hover{
  background-color: #009688;
  border-color: #009688;
  
}
.red-btn{
  background-color: #C62828;
  border-color: #C62828;
}
.red-btn:hover{
  background-color: #D32F2F;
  border-color: #D32F2F;
}

.error{
  color: #F44336;
}
.op-btn{
  line-height: 0.5;
}