<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="javascript:void(0)">Tipo de Transacción <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Compras</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Pagos</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Transferencias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Retiros</a>
  </li>
</ul>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="javascript:void(0)">Categoria<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Restaurantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Tiendas</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Vehiculo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hogar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Educación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Diversión</a>
    </li>
  </ul>
</nav>